

<app-navigation></app-navigation>

<div class="row">
    
    <div class="col-2"></div>
    
    <div class="col-4">
        <img src="assets/removebook.png" width="400px" height="330px">
    </div>
    <div class="col-4">
<div class="pt-5">  
    <div class="global-container">  
      <div class="card login-form">  
      <div class="card-body">  
          <h3 class="card-title text-center"> Add Book   </h3>  
          <div class="card-text">  
              <form  #deleteform="ngForm" (ngSubmit)="deletedata(deleteform)">  
                      <div class="form-group">  
                      <label for="exampleInputname"> Book ID  </label>  
                      <input type="number" class="form-control form-control-sm"   name="bid" id="bid" #bid (ngModel)="bid"  aria-describedby="emailHelp">  
                  </div>

                      
                 
                  <input type="submit" class="btn btn-primary btn-block" value="Delete Book" >  
                    
                 </form>  
          </div>  
      </div> 
