
    <nav class="navbar navbar-default" role="navigation " style="background: rgb(69, 53, 214); color: rgb(39, 12, 138);">
        <div class="navbar-header" >
            <a href="#" class="navbar-brand" routerLink="/app-root" routerLinkActive="active"></a>
             <a href="#" class="navbar-brand" routerLink="/home">Home</a>           
            
             <a href="#" class="navbar-brand" routerLink="/insert1">Insert</a>
            <a href="#" class="navbar-brand" routerLink="/update">Update</a>
            <a href="#" class="navbar-brand" routerLink="/view" >View</a>
            <a href="#" class="navbar-brand" routerLink="/delete">Delete</a>
            
    
        </div>   
    </nav>
