<app-nav></app-nav>
<br/>
<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/photo1.jpg" id="img1" class="w-100 h-100" alt="..." >
        </div>
        <div class="carousel-item">
          <img src="assets/photo2.jpg" class="w-100 h-100 " id="img2" alt="..." >
        </div>
        <div class="carousel-item">
          <img src="assets/photo3.jpg" class="w-100 h-100 " id="img3" alt="..." >
        </div>
      </div>
    </div>
    </div>
    
